article {
  display: grid;
  grid-template-columns: 1;
  grid-auto-rows: minmax(100px, auto);
  // background: grey;
}
.xx {
  text-align: "center";
  vertical-align: "middle";
  position: "relative";
  top: "50%";
  margin-left: "31px";
}
.image,
.text {
  // background: red;
  height: 600px;
  font-family: "BIZ UDPMincho", serif;
}

h5 {
  // font-family: "Exo 2", sans-serif;
  font-family: "BIZ UDPMincho", serif;
}
.image {
  // background: green;
}
.text:nth-of-type(3) {
  // background: magenta;
}
.image:nth-of-type(4) {
  // background: blue;
}

article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // background: grey;
}
.xx1 {
  text-align: center;
  margin-top: -96px;
  position: relative;
  top: 44%;
  margin-left: 31px;
}

.vidimage {
  position: relative;
  margin: 0 auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
  overflow: hidden;
  height: 40vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image,
.text {
  height: 600px;
  font-family: "Exo 2", sans-serif;
}
.text:nth-of-type(3) {
  grid-column: 2;
  grid-row: 2;
}

@media screen and (max-width: 1800px) {
  article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // background: grey;
  }
  .xx1 {
    text-align: center;
    margin-top: -96px;
    position: relative;
    top: 44%;
    margin-left: 31px;
  }

  .vidimage {
    position: relative;
    margin: 0 auto;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 3 / 3;
    overflow: hidden;
    height: 40vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .image,
  .text {
    height: 600px;
    font-family: "Exo 2", sans-serif;
  }
  .text:nth-of-type(3) {
    grid-column: 2;
    grid-row: 2;
  }
}
@media screen and (max-width: 600px) {
  article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // background: grey;
  }
  .xx1 {
    text-align: center;
    margin-top: -96px;
    position: relative;
    top: 44%;
  }

  .vidimage {
    position: relative;
    margin: 0 auto;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 3 / 3;
    overflow: hidden;
    height: 40vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .image,
  .text {
    height: 218px;
    font-family: "Exo 2", sans-serif;
  }
  .text:nth-of-type(3) {
    grid-column: 2;
    grid-row: 2;
  }
}
